<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lexiconia - Path Builder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/pathbuilder.css') }}">
</head>

<body>
    <div class="container">
        <form id="word-selecter">
            <div class="form-group">
                <label for="word-select">输入查询单词</label>
                <textarea id="word-select" placeholder="例如：apple" required></textarea>
                <button type="submit" class="submit-btn">查询路径</button>
            </div>
        </form>

        <div class="result-container" style="display: block;">
            <div class="result-message" id="path-root">root</div>
            <div class="result-message" id="path-node">node</div>
            <div class="result-message" id="path-step0">step0</div>
            <div class="result-message" id="path-step1">step1</div>
            <div class="result-message" id="path-step2">step2</div>
            <div class="result-message" id="path-step3">step3</div>
            <div class="result-message" id="path-step4">step4</div>
        </div>
    </div>

    <div class="navigation">
        <a href="/">
            <button class="btn btn-secondary">返回首页</button>
        </a>
    </div>

    <script src="{{ url_for('static', filename='/js/pathbuilder.js') }}"></script>
</body>

</html>