<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lexiconia Guide Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/_guidepage.css') }}">
</head>
<body>
    <div class="container">
        <div class="guide-section" id="guide-data-collection">
            <h1>Lexiconia 数据收集</h1>
            <div class="guide-links">
                <a href="/addwords" class="guide-link">添加单词</a>
                <a href="/addmyreview" class="guide-link">添加复习</a>
                <a href="/preparereview" class="guide-link">准备复习</a>
                <a href="/addcard" class="guide-link">添加卡片</a>
                <a href="/pathbuilder" class="guide-link">路径构建</a>

            </div>
        </div>
        
        <div class="guide-section" id="guide-review">
            <h1>Lexiconia 复习功能</h1>
            <div class="guide-links">
                <a href="/dailyreview" class="guide-link">每日复习</a>
                <a href="/lexiconia" class="guide-link">词汇浏览</a>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='/js/_guidepage.js') }}"></script>
</body>
</html>